<html>
<head>
</head>
<body>

{{>header}}

<link rel="stylesheet" href="./css/de.css"   >
<form>
    <input placeholder="insert locationnn" >
<button>
search 
</button>
</form>

<p id="m1"></p>

<p id="m2"></p>

<img src="./img/1546.JPG" >
<script src="/js/client.js"></script>

</body>

<footer>

    {{>footer}}
</footer>



</html>